doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/example/example.pug
    include ../components/footer/footer.pug

    head
        +head({title: 'Styleguide'})
    body.page
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            h1 Styleguide
