doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/checkbox/checkbox.pug
    include ../components/footer/footer.pug

    head
        +head({title: 'Styleguide'})
    body.page
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            h1 Styleguide
            +checkbox({
              label: "Сделал селфи с акулой",
              name: "selfie",
              value: "selfie with shark",
              disabled: true,
              checked: true
            })
            +checkbox({
              label: 'Обгорел на пляже',
              name: 'selfi',
              checked: true,
            })
