doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/checkbox/checkbox.pug
    include ../components/radio/radio.pug
    include ../components/footer/footer.pug
    include ../components/btn/btn.pug
    include ../components/textarea/textarea.pug
    include ../components/photoCard/photoCard.pug


    head
        +head({title: 'Styleguide'})
    body.page.styleguide
        |%=symbols=%

        section.page__wrapper

            //- Include your components here
            h1 Styleguide

            +checkbox({
              label: "Сделал селфи с акулой",
              name: "selfie",
              value: "selfie with shark",
              disabled: true,
              checked: true
            })

            +checkbox({
              label: 'Обгорел на пляже',
              name: 'selfi',
              checked: true,
            })

            +radio({
              label: "Pink для iOS",
              name: "product",
              value: "iOS",
              checked: true
            })

            +radio({
              label: "Pink на Android",
              name: "product",
              disabled: true
            })

            +btn({
              type: "submit",
              text: "Отправить форму",
              disabled: true
            })

            .styleguide__delimeter

            +btn({
              text: "Отправить форму",
              type: "button"
            })

            .styleguide__delimeter

            +btn({
              text: "Отмена",
              mod: "btn--round  btn--grey"
            })

            .styleguide__delimeter

            +btn({
              text: "Запостить",
              mod: "btn--round  btn--pink",
              href: "#"
            })

            .styleguide__delimeter
            .styleguide__blue-bg
              +btn({
                text: "Скачать приложение",
                mod: "btn--round  btn--white",
                href: "#"
              })

            +textarea({
              value: "textarea",
              placeholder: "Можно прям в красках",
              name: "textarea"
            })

            .container
              +photoCard({
                img: "../static/img/content/photo-1",
                userName: "Левон",
                timePub: "5 часов назад",
                desc: "Вчера он на луну летал, сегодня в руки к нам попал.",
                like: "356"
              })

              +photoCard({
                img: "../static/img/content/photo-2",
                userName: "Левон",
                timePub: "5 часов назад",
                desc: "Вчера он на луну летал, сегодня в руки к нам попал.",
                like: "356"
              })

            script(src='%=static=%js/main%=hash=%%=min=%.js')

