include ../socialLink/socialLink.pug
mixin social(data)
  section.social
    +socialLink({
      link: "facebook.com",
      icon: "facebook"
    })

    +socialLink({
      link: "twitter.com",
      icon: "twitter"
    })

    +socialLink({
      link: "youtube.com",
      icon: "youtube"
    })
