mixin copyright(data)
    a.copyright(href="http://htmlacademy.ru")
      span.copyright__text="Разработано"
      != pugHelpers.Icon.call(locals, { iconName: "logo-htmlacademy", className: 'copyright__icon'})

